.side-bar
  .head
    %h3.head__name
      = current_user.name
    %ul.head__lists
      %li.list
        = link_to new_group_path do
          =fa_icon 'edit', class: 'icon'
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      - current_user.groups.each do |group|
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。

.contents
  .contents__top
    .contents__top__group
      test-group
    .contents__top__edit
      Edit
    .contents__top__menber
      Member
  .contents__main
    .contents__main__texts
      .contents__main__texts-1
        test-user
      .contents__main__texts-2
        2019/**/**/**
    .contents__main__texts2
      .contents__main__texts2-1
        こんにちは！
      .contents__main__texts2-2
        text(2019/**/**)
      .contents__main__texts2-3
        さようなら
  .contents__form
    %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/1781/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "P7/0+wFzH0pDuMtabQIUm8huSW/JL5CjoPPd+l9LUBrqa+c/QfF9bB1/IvOqEBfvcjfs4o4kl+PrRz7nU24SKg=="}/
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
